{% extends 'base.html.twig' %}

{% block title %}Authentiication{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="register text-center mt-5">
        <h1>Connexion</h1>

        {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm) }}
        <div class="m-3 text-light">
            {{ form_row(registrationForm.email, {label:'Email'}) }}
        </div>
        <div class="mot_de_passe m-3 text-light">
            {{ form_row(registrationForm.plainPassword, {label: 'Mot De Passe'}) }}
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
        <div class="m-3 text-light">
            <button type="submit" class="btn text-light">Connexion</button>
        </div>
            {{ form_end(registrationForm) }}
        </div>
         
    </div>
{% endblock %}
