{% extends 'base.html.twig' %}

{% block title %}Hello AvisController!{% endblock %}

{% block body %}
<div class="register text-center p-2 m-5">
    {{ form_errors(form) }}
    {{ form_start(form) }}
    <div class="d-flex justify-content-center">
        <div>
            <div class="m-3 text-light">
                {{form_label(form.modele)}}
                <br>
                {{ form_widget(form.modele)}}
            </div>
            <div class="m-3 text-light">
                {{form_label(form.immatriculation)}}
                <br>
                {{form_widget(form.immatriculation)}}
            </div>
        </div>
        <div class="m-3 text-light">
            <button type="submit" class="btn text-light">Enregistrer</button>
        </div>
    </div>
    {{ form_end(form) }}
 </div>
{% endblock %}
