{% extends 'base.html.twig' %}

{% block title %}Covoiturage{% endblock title %}


{% block body %}
{% include "/search/search.html.twig" %}
    {%for covoiturage in covoiturages %}
    <div class="card rounded-pill covoiturage mt-3 mb-3 ms-5 me-5">
        <div class="row g-0">
          <div class="col-4 text-center">
            <div class="rounded-circle">
                {{covoiturage.getUserId.getPhoto()}}
            </div>
            <p class="card-text text-light">{{covoiturage.getUserId().getPseudo()}}</p>
          </div>
          <div class="col-8">
            <div class="card-body">
                <div class="d-flex">
                    <h5 class="card-title text-light">{{covoiturage.getLieuDepart()}}</h5>
                    <img src="/media/arrow-right.svg" class="rounded-circle me-3 ms-4" alt="flèche">
                    <h5 class="card-title text-light">{{covoiturage.getLieuArrivee()}}</h5>
                </div>
                <div class="d-flex justify-content-between">
                    <h2 class="card-text text-light">{{covoiturage.getPrixPersonne()}}€</h2>
                    <br>
                    <a href="/user/details.html.twig"><img src="/media/arrow-down-right-circle-fill.svg" alt="Détails"></a>
                </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}