{% extends "base.html.twig" %}

{% block title %}Historique{% endblock title %}

{% block body %}
    <h1 class="text-center text-light">Historique</h1>
    <div class="register">
    <h1 class="text-center text-light">Conducteur</h1>
    {% for covoiturage in covoiturages %}
    <div class="card rounded-pill covoiturage mt-3 mb-3 ms-5 me-5">
        <div class="row g-0">
          <div class="col-4 text-center">
            <div class="rounded-circle">
                {{covoiturage.getUserId().getPhoto()}}
            </div>
            <div class="text-center">
              <img src="/media/star-fill.svg" alt="star avis">
              <p class="text-light">{{covoiturage.getUserId().getNote()}}</p>
            </div>
            <p class="card-text text-light">{{covoiturage.getUserId().getPseudo()}}</p>
          </div>
          <div class="col-8">
            <div class="card-body">
                <h5 class="m-3 text-light">{{covoiturage.getDateDepart()|date('l d F')}}</h5>
                <div class="d-flex">
                    <h5 class="card-title text-light">{{covoiturage.getLieuDepart()}}</h5>
                    <img src="/media/arrow-right.svg" class="rounded-circle me-3 ms-4" alt="flèche">
                    <h5 class="card-title text-light">{{covoiturage.getLieuArrivee()}}</h5>
                </div>
                <div class="d-flex justify-content-between">
                    <h2 class="card-text text-light">{{covoiturage.getPrixPersonne()}}€</h2>
                    <div class="d-flex">
                      {% if covoiturage.getStatut() == "à venir" %}
                        <div class="m-2 rounded-fill">
                          <a href="/covoiturage/{{covoiturage.getId()}}/enCours" alt="lien pour demarrer" class="btn participer p-2 text-light" onclick="return(confirm('Etes-vous sûr de vouloir démarrer le covoiturage ?'));">Demarrer</a>
                        </div>
                        <div class="m-2 rounded-fill">
                          <a href="/covoiturage/{{covoiturage.getId()}}/supprimer" alt="lien pour annuler" class="btn participer bg-danger p-2 text-light" onclick="return(confirm('Etes-vous sûr de vouloir annuler votre voyage?'));">Annuler</a>
                        </div>
                      {% elseif covoiturage.getStatut() == "en cours" %}
                        <div class="m-2 rounded-fill">
                          <a href="/covoiturage/{{covoiturage.getId()}}/passe" alt="lien pour clore le trajet" class="btn participer p-2 text-light">Arrivés à destination</a>
                        </div>
                      {% else %}
                      <div class="rounded-fill m-3">
                        <p class="text-light p-2 me-5">Passé</p>
                      </div>
                      {% endif %}
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <div class="register">
    <h1 class="text-center text-light">Passagers</h1>
    {% for passagerCovoiturage in passagerCovoiturages %}
    <div class="card rounded-pill covoiturage mt-3 mb-3 ms-5 me-5">
        <div class="row g-0">
          <div class="col-4 text-center">
            <div class="rounded-circle">
                {{passagerCovoiturage.getUserId().getPhoto()}}
            </div>
            <div class="text-center">
              <img src="/media/star-fill.svg" alt="star avis">
              <p class="text-light">{{passagerCovoiturage.getUserId().getNote()}}</p>
            </div>
            <p class="card-text text-light">{{passagerCovoiturage.getUserId().getPseudo()}}</p>
          </div>
          <div class="col-8">
            <div class="card-body">
                <h5 class="m-3 text-light">{{passagerCovoiturage.getDateDepart()|date('l d F')}}</h5>
                <div class="d-flex">
                    <h5 class="card-title text-light">{{passagerCovoiturage.getLieuDepart()}}</h5>
                    <img src="/media/arrow-right.svg" class="rounded-circle me-3 ms-4" alt="flèche">
                    <h5 class="card-title text-light">{{passagerCovoiturage.getLieuArrivee()}}</h5>
                </div>
                <div class="d-flex justify-content-between">
                    <h2 class="card-text text-light">{{passagerCovoiturage.getPrixPersonne()}}€</h2>
                    {% if passagerCovoiturage.getStatut() == 'à venir' %}
                      <div class="rounded-fill m-3 d-flex">
                        <p class="text-light p-2 me-5">à venir</p>
                        <div class="m-2 rounded-fill">
                          <a href="/covoiturage/{{passagerCovoiturage.getId()}}/supprimer" alt="lien pour participer" class="btn participer bg-danger p-2 text-light" onclick="return(confirm('Etes-vous sûr de vouloir annuler votre voyage?'));">Annuler</a>
                        </div>
                      </div>
                    {% elseif passagerCovoiturage.getStatut() == 'passé' %}
                      <div class="rounded-fill m-3">
                        <p class="text-light p-2 me-5">Passé</p>
                      </div>
                      <div class="m-2 rounded-fill">
                        <a href="/covoiturage/{{passagerCovoiturage.getId()}}/{{app.user.getId()}}/valider" alt="lien pour valider" class="btn participer p-2 text-light">Valider</a>
                      </div>
                      <div class="m-2 rounded-fill">
                        <a href="/covoiturage/{{passagerCovoiturage.getId()}}/{{app.user.getId()}}/ajouter" alt="lien pour signaler un problème" class="btn participer p-2 text-light">Signaler un problème</a>
                      </div>
                      <div class="m-2 rounded-fill">
                        <a href="/avis/{{passagerCovoiturage.getUserId().getId()}}/create" alt="lien pour créer un avis" class="btn participer p-2 text-light">Soumettre un avis</a>
                      </div>
                    {% endif %}
                </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}
