{% extends 'base.html.twig' %}

{% block title %}Covoiturage{% endblock %}

{% block body %}
<div class="register text-center p-2 m-5">
    {{ form_errors(form) }}
    {{ form_start(form) }}
    <div class="d-flex justify-content-center">
        <div>
            <div class="m-3 text-light">
                {{form_label(form.date_depart)}}
                <br>
                {{ form_widget(form.date_depart)}}
            </div>
            <div class="m-3 text-light">
                {{form_label(form.heure_depart)}}
                <br>
                {{form_widget(form.heure_depart)}}
            </div>
            <div class="m-3 text-light">
                 {{form_label(form.lieu_depart)}}
                 <br>
                 {{form_widget(form.lieu_depart)}}
             </div>
        </div>
        <div>
             <div class="m-3 text-light">
                 {{form_label(form.date_arrivee)}}
                 <br>
                 {{form_widget(form.date_arrivee)}}
             </div>
             <div class="m-3 text-light">
                 {{form_label(form.heure_arrivee)}}
                 <br>
                 {{ form_widget(form.heure_arrivee)}}
             </div>
            <div class="m-3 text-light">
                {{form_label(form.lieu_arrivee)}}
                <br>
                {{ form_widget(form.lieu_arrivee)}}
            </div>
        </div>
        <div>
            <div class="m-3 text-light">
                {{form_label(form.nb_place)}}
                <br>
                {{form_widget(form.nb_place)}}
            </div>
            <div class="m-3 text-light">
                {{form_label(form.prix_personne)}}
                <br>
                {{ form_widget(form.prix_personne)}}
            </div>
            <div class="m-3 text-light">
                {{form_label(form.voiture_id)}}
                <br>
                {{ form_widget(form.voiture_id)}}
            </div>
       </div>
    </div>
    <div class="m-3 text-light">
        <button type="submit" class="btn text-light">Enregistrer</button>
    </div>
    {{ form_end(form) }}
 </div>
{% endblock %}
